html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h1 {
    text-align: center;
}
.image-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
}

.details {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.DisplayNameTable {
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-40deg);
}
.DisplayNameTableContainer {
    text-align: center;
    vertical-align: middle;
}
.table > thead > tr > th {
    border: none;
    font-size:20px;
}

.HomeTable td:nth-child(3) {
    border-right: 300px solid transparent;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.CatalogTable > td {
    padding: 70px;
}


.DisplayComment {
    margin-top: 50px;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 30%;
    background-color: rgba(220, 220, 220, 0.5);
    margin-top: 15px;
}
